@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}







.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1000;
}

.header-dummy {
  flex: 1;
}

.header-title-image {
  max-width: 80%;
  width: 500px;
  margin: 0 20px 0 20px;
}

.menu-icon-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.menu-icon {
  width: 30px;
  height: auto;
}



.header h1, .header h2, .main-content h3, .main-content p {
  margin: 10px 0; 
}

.space-50px{
  height: 50px;
}

.space-100px{
  height: 100px;
}

.space-200px{
  height: 200px;
}

.space-250px{
  height: 250px;
}


.concept-section{
  margin-bottom: 100px;
}

.line-container {
  margin: 30px;
  position: relative;
  width: 100%;
  height: 20px;
}

.right-line {
  position: absolute;
  left: 50%;
  height: 1px; 
  width: 50%;
  background-color: black; 
}

.slogan {
  margin: 10px 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.slogan::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 70%;
  background-color: black;
  position: absolute;
  left: 15%;
  bottom: -10px;
}








.description {
  width: 70%;
  margin: 50px auto 50px auto;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 24px;
}




.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 
}


.desc-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 600px; 
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 
}

.title-image2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 700px; 
}

.title-image3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 300px; 
}

.title-image4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 400px; 
}


.small-centered-image {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 150px; 
}


.rdv-section, .showroom-section{
  margin: 0 0 100px;
}

.img-section{
  margin: 0 0 200px;
}


.rdv-image{
  margin-bottom: 20px;
  width: 200px;
  max-width: 95%;
}

.showroom-image{
  margin-bottom: 10px;
  width: 300px;
  max-width: 95%;
}


.contact-icons {
  display: flex;
  justify-content: center;
  gap: 50px; 
}

.icon{
  margin-top: 35px;
}

.icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  height:100px;
}

.icon p {
  text-align: center;
}

.my-carousel {
  max-width: 95%;
  width: 400px; 
  margin: 0 auto; 
}


.carousel {
  max-width: 95%;
  width: 500px; 
  margin: 0 auto; 
}

