@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap');


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 0px;
  align-items: flex-start;
}

.title-header {
  font-family: 'Cormorant SC', serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  white-space: nowrap;
  font-size: 3vw;
}

.menu-icon {
  width: 40px; 
}

.menu-icon-container{
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .title-header {
    font-size: 7.5vw;
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  .menu-icon {
    width: 30px;
  }

  .header {
    justify-content: flex-end;
    padding-right: 5px;
  }
}














.RDVtitle{
  font-family: 'Cormorant SC', serif;
  font-size: 2.9em;
  font-weight: 500;
}


.subtitle{
  font-family: 'Cormorant SC', serif;
  font-size: 2em;
  font-weight: 100;
}


.subtitle-header{
  font-family: 'Cormorant SC', serif;
  font-size: 0.5em;
  font-weight: 100;
  letter-spacing: 0.2em;
}


.title-trait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;

}




.manica-title{
  font-family: 'Poiret One';
  font-weight: 100;
}


.nav-menu ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.nav-menu li {
  margin: 0 15px; 
  padding: 10px 0; 
  cursor: pointer; 
  font-family: 'Lora', serif;
  font-size: 24px;
  color: #fff;

}


.nav-menu {
  display: block;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s;
  color: #fff;
}

.nav-menu.open {
  max-height: 500px;
  opacity: 1;
  background-color: black;
  visibility: visible;
}





.main-content{
  margin-top: -45px;
}




.header h1, .header h2, .main-content h3, .main-content p {
  margin: 10px 0; 
}

.space-30px{
  height: 30px;
}


.space-50px{
  height: 50px;
}

.space-100px{
  height: 100px;
}

.space-200px{
  height: 200px;
}

.space-250px{
  height: 250px;
}


.concept-section{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 90%;


}

.concept-section1{
  margin-bottom: 20px;
  max-width: 90%;

}


.nobottom{
  margin-bottom: -35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 

}


.line-container {
  margin: 30px;
  margin-top: -20px;
  position: relative;
  width: 100%;
  height: 20px;
}

.right-line {
  position: absolute;
  left: 50%;
  height: 1px; 
  width: 50%;
  background-color: black; 
}

.left-line {
  position: absolute;
  right: 50%;
  height: 1px; 
  width: 50%;
  background-color: black; 
}

.slogan {
  margin: 10px 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.slogan::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 70%;
  background-color: black;
  position: absolute;
  left: 15%;
  bottom: -10px;
}



.description {
  max-width: 95%;
  width: 500px; 
  margin: 50px auto 50px auto;
  text-align: justify;
  line-height: 32px;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  word-spacing: 6px;
}


.description-creatrice {
  max-width: 95%;
  width: 500px; 
  margin: 50px auto 50px auto;
  text-align: justify;
  line-height: 30px;
  font-family: 'Cormorant SC', serif;
  font-size: 16px;
  word-spacing: 6px;
}

.description-rdv {
  max-width: 95%;
  width: 500px; 
  margin: 50px auto 50px auto;
  text-align: justify;
  line-height: 30px;
  font-family: 'Cormorant SC', serif;
  font-size: 16px;
}

.description-copyright {
  max-width: 95%;
  width: 500px; 
  margin: 50px auto 50px auto;
  font-family: 'Cormorant SC', serif;
  font-size: 15px;
}

.rdv-header {
  width: 70%;
  margin: 50px auto 50px auto;
  text-align: justify;
  line-height: 30px;
  font-family: 'Cormorant SC', serif;
  font-size: 16px;
  word-spacing: 6px;
}

.centered-image, .video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 
}

.centered-image1, .video1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 
  margin-bottom: -45px;
}

.centered-image-carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 
}


.desc-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 600px; 
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 
}

.title-image2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 500px; 
}


.title-imagefull{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 95%; 
}


.title-image3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 300px; 
}

.title-image4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 400px; 
}


.small-centered-image {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: 150px; 
}


.rdv-section, .showroom-section{
  margin: 0 0 5px;
}

.img-section{
  margin: 0 0 140px;
  transform: rotate(90deg);
  width: 70%;
}


.rdv-image{
  margin-bottom: 5px;
  width: 200px;
  max-width: 95%;
}

.showroom-image{
  margin-bottom: 5px;
  width: 300px;
  max-width: 95%;
}


.contact-icons {
  display: flex;
  justify-content: center;
  gap: 50px; 
}

.icon{
  margin-top: 35px;
  width:75px;
  height:75px;
}

.icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:75px;
  height:75px;
}

.icon p {
  text-align: center;
}

.my-carousel {
  max-width: 80%;
  width: 500px; 
  margin: 0 auto; 
}


.carousel {
  max-width: 95%;
  width: 500px; 
  margin: 0 auto; 
}













.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -90px;
}

.carousel-container {
  flex-grow: 1; 
}

.arrow-prev, .arrow-next {
  cursor: pointer;
  background: none;
  border: none;
  z-index: 10;
}

.arrow-prev img, .arrow-next img {
  width: 40px;
}



.carousel .control-arrow {
  display: none;
}
