@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400&family=Roboto+Slab:wght@200&display=swap');

.faq-content, .title-faq {
  font-family: 'Cormorant SC', serif;
}

.title-faq {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.faq-question {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-family: 'Cormorant SC', serif;
  font-size: 1em;
  font-weight: 400;
  position: relative;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  font-weight: 200;
  line-height: 1.6;
  padding: 0 10px;
}

.faq-answer.active {
  max-height: 1000px; /* Sufficiently large value to show any content */
}

.space-200px {
  height: 200px;
}

.space-50px {
  height: 50px;
}


.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: translateY(-50%) rotate(45deg);
}

.arrow.up {
  transform: translateY(-50%) rotate(-135deg);
}