.modal form input, .modal form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  box-sizing: border-box;
}

.modal form input::placeholder, .modal form textarea::placeholder {
  color: #ccc;
  font-family: 'Cormorant SC', serif;
  letter-spacing: 1px;
}

.modal form input:focus, .modal form textarea:focus {
  outline: none;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.modal form button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  display: block;
  width: auto;
  margin: 0 auto 20px auto;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  box-sizing: border-box;
}
